@media only screen and (max-width: 1440px) {

body {
    margin: 0 40px !important
}

h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 5px 0px;
    color: #000000;
    padding-left: 4px;
}

h5 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 5px 16px;
    color: #000000;
    padding-left: 16px;
}

h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0px;
    color: #000000;
    padding-left: 16px;
}

figure {
    display: block;
    margin: 0;
}

.stars {
    padding-left: 16px;
    padding-bottom: 10px;
}

.search-section p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0px;
    color: #000000;
}

.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 61.09px;
    height: 19px;
}

.nav {
    margin-left: auto;
    justify-content: flex-end;
}

.brand {
    justify-content: flex-start;
    padding-top: 40px;
}

.nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

.nav li {
    display: block;
    float: left;
    padding: 38px 15px 0;
    margin-left: 0;
    border-top: solid 2px transparent;
}

.nav li:hover {
    border-top: solid 2px #0065FC;
}

.nav li a {
    font-family: 'Raleway Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #070707;
    text-decoration: none;
    text-align: center;
}

.nav li a:hover {
    color: #0065FC;
}

ul {
    list-style: none;
}

.search-section {
    margin: 35px 0 0 0;
}

.search-section h2 {
    font-family: 'Raleway Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin: 0 0 5px 0;
}

.search-section h6 {
    font-family: 'Raleway Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin: 0;
}

.search {
    display: flex;
    border-radius: 15px;
    border: 1px solid #F2F2F2;
    margin-top: 25px;
    width: 35%;
}

.search .fa-map-marker {
    justify-content: start;
    height: 51px;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    background: #F2F2F2;
    padding-top: 4px;
    width: 14%;
}

.search .fa-map-marker:before {
    font-size: 24px;
}

.search input {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    height: 50px;
    border: 0px solid #F2F2F2;
    margin: 0;
    padding: 0 0 0 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
}

.search input::placeholder {
    color: #000000;
}

.search input:focus {
    box-shadow: none;
    border: 0px solid blue;
}

.search button {
    justify-content: end;
    top: 5px;
    right: 5px;
    height: 55px;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    color: #FFFFFF;
    width: 23%;
}

.search-section button i {
    display: none;
}

.search-section button span {
    display: block;
}


.filtres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;

}

.filtres h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin: 0px;
    padding: 10px 0;
}

.types-filtres {
    margin-left: 15px;
}

.types-filtres a {
    color: #000000;
    float: left;
    border: solid 2px #F0F2F6;
    border-radius: 29px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding: 10px;
    margin: 0 5px;
    background-position: 10px 10px, left;
    background-repeat: no-repeat;
    text-decoration: none;
    padding-left: 3px;
}

.types-filtres a:hover {
    background-color: #DEEBFF;
}


.types-filtres a.filtre i {
    color: #0065FC;
    padding: 4px 4px 3px 4px;
}



.result-filtres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 25px 0;
}

.result-filtres i {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    text-align: center;
    color: blue;
    padding-top: 3px;

}

.result-filtres p {
    font-family: 'Raleway Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 5px 0 5px 10px;
}

.list {
    display: flex;
    flex-direction: row;
}

.result_list {
    justify-content: flex-start;
    width: 65%;
    background-color: #F2F2F2;
    margin: 0px 40px 0 0;
    border-radius: 6px;
    padding: 40px;
}

.result_list_first {
    display: flex;
    gap: 10px 20px;
    row-gap: 30px;
    column-gap: 2%;
    flex-wrap: wrap;
    border-radius: 7px;
}

.result_list h2 {
    margin-top: 0px;
    margin-bottom: 25px;
}

.result_list h3 {
    margin-top: 30px;
    margin-bottom: 0;
}

.popular {
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 6px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.popular h2 {
    margin: 0px;
}

article.item {
    border-radius: 20px;
    background-color: #FFFFFF;
    width: 29.8%;
    border: 5px solid #ffffff;
}

.picture {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}



article.item h5,
article.item h6 {
    margin: 5px 0px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title img {
    margin: 4px 24px 0px
}

.item-popular {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 25px;
}

article.item-popular h5,
article.item-popular h6 {
    margin: 5px 0px;
}


article.item figure {
    width: 100%;
    height: 125px;
    overflow: hidden;
}

.description {
    width: 60%;
    padding-top: 9px;
}

.description img {
    margin-top: 52px;
}

.activity h2 {
    margin: 60px 0 20px 0;
}

.activityList {
    display: flex;
    flex-direction: row;
    gap: 10px 20px;
    row-gap: 30px;
    column-gap: 2%;
    flex-wrap: wrap;
}

.item-activity {
    width: 23.5%;
    margin: 0px;
    border-radius: 20px;
    border-color: #D9D9D9;
    position: relative;
    box-shadow: 0px 5px 10px 0px #d9d9d9;
    
}

.title-activity {
    border-radius: 0 0 15px 15px;
    background-color: white;
    width: 100%;
}

.title-activity h5 {
    padding-left: 6px;
    padding-top: 9px;
}

.item-activity img {
    width: 100%;
    height: 89%;
}

.activity {
    margin-bottom: 51px;
}

.item-activity h4 {
    margin-left: 19px;
}

footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    padding-left: 70px;
    padding-top: 30px;
}

footer a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #000000;
    padding: 6px 0px 1px 5px;
}

.link-footer {
    width: 30%;
    display: flex;
    flex-direction: column;

    margin-left: 85px;
}
}
@media screen and (max-width: 992px) {
    h4 {
        margin: 5px 0px;
        padding-left: 15px;
    }

    h5 {

        margin: 5px 16px;
        padding-left: 15px;
    }

    h6 {
        padding-left: 15px;
        margin: 5px 0px;
    }

    .stars {
        padding-left: 15px;
    }


    .list {
        display: flex;
        flex-direction: column;
    }

    .result_list {
        width: 90%;
        margin: 0px;
    }

    .popular {
        width: 90%;
        margin-top: 40px;
    }

    .popular .popularlist {
        display: flex;
        flex-direction: row;
        gap: 10px 20px;
        row-gap: 30px;
        column-gap: 2%;
        flex-wrap: wrap;
    }

    .item-popular {
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        margin-top: 25px;
        width: 31%;
        padding: 2px;
    }
    .search{
        width: 45%;
    }


    .item-popular .description {
        width: 60%;
        padding: 0px 7px;
    }

}

@media screen and (max-width: 768px) {

    h4 {
        margin: 5px 0px;
    }

    h5 {
        margin: 5px 16px;
    }

    h6 {
        margin: 5px 0px;
    }

    .stars {
        padding-left: 15px;
    }

    main {
        margin: 0 !important;
    }

    .search-section {
        margin: 35px 20px 0 20px;
    }

    .filtres {
        margin: 30px 20px 0 20px;
    }

    .result-filtres {
        margin: 25px 20px;
    }

    .types-filtres a {
        font-size: 16px;
    }

    .list {
        display: flex;
        flex-direction: column-reverse;
    }

    .result_list {
        width: 90%;
        margin: 0px;
        margin-top: 15px;
        padding: 20px;
        background: transparent;
    }

    .popular {
        width: 90%;
        border-radius: 0;
    }

    .popular .title {
        margin-bottom: 25px;
    }

    .popular .popularlist {
        display: flex;
        flex-direction: row;
        gap: 10px 20px;
        row-gap: 30px;
        column-gap: 2%;
        flex-wrap: wrap;
    }

    .item-popular {
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        margin-top: 0;
        width: 100%;
        padding: 2px;
        height: 144px;
    }


    .item-popular .description {
        width: 60%;
        padding: 0px 7px;
    }

    article.item {
        width: 100%;
        border: 0;
        box-shadow: 0px 5px 10px 0px #d9d9d9;
    }

    article.item figure .picture {
        height: 170px;
    }

    .item-activity img {
        width: 100%;
       
    }

    .item-activity {
        width: 100%;
        margin: 0px;
        max-height: 200px;

    }

    .activity {
        margin: 0 20px 30px 20px;
    }

    footer {
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .link-footer {
        width: 100%;
        padding-bottom: 20px;
    }

    body {
        margin: 0 !important;
    }

    .site-header__wrapper {
        flex-direction: column;
    }

    .brand {
        justify-content: center;
    }

    .nav {
        justify-content: center;
        margin-left: 0px;
        width: 100%;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .nav li {
        padding: 35px 0 25px 0;
        margin: 0;
        border-top: 0px solid;
        border-bottom: solid 2px #F2F2F2;
        width: 50%;
        text-align: center;
    }

    .nav li:hover {
        border-top: solid 0px transparent;
        border-bottom: solid 2px #0065FC;
    }

    .search {
        width: 100%;
    }

    .search .fa-map-marker {
        width: 14%;
    }

    .search button {

        width: 14%;
    }

    .search-section button i {
        display: block;
    }

    .search-section button span {
        display: none;
    }

    .types-filtres a {
        font-size: 9px;
    }

    .types-filtres {
        margin-left: 0px;
    }

    .types-filtres {
        align-content: space-between;
    }

    .types-filtres a {
        width: 33%;
        margin-top: 12px;
        padding-left: 23px;
    }
}

@media screen and (max-width: 375px) {
    .types-filtres a {
        width: 31%;
        margin-top: 12px;
    }
}

@media screen and (max-width: 320px) {
    .types-filtres a {
        width: 27%;
        margin-top: 12px;
    }
}